.por-hacer {
  //background-color: #5e72e4 !important;
  background-color: #fff !important;
  }

  .completadas{
  background-color: #fff !important;

  }
  
.text-tabla td {
    font-weight: 400 !important;
    font-family: Open Sans, sans-serif !important;
    line-height: 1.5 !important;
    font-size: 14px !important;
  }

.btn-nueva-tarea {
    float: right; 
    margin-top: -10px;
    margin-bottom: 10px;
}

.flexible {
    flex: 1;
}

.acciones {
  position: absolute;
left: 92%;
bottom: 5.15px;
}

.containerFlexible {
display: flex;
}

.agregar {
  margin-top: 15px;
}

// ::ng-deep table th, .table td {
//   padding: 0.3rem !important;
// }