<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tareas totales</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                    <i class="far fa-clipboard"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-muted mr-2"><i class="far fa-calendar"></i></span>
                <span class="text-nowrap">Desde la fecha de creación</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Proxima tarea</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-muted mr-2"><i class="far fa-calendar"></i></span>
                <span class="text-nowrap">Para la fecha de: </span>
                <span class="h4 font-weight-bolder"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tareas por hacer</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-muted mr-2"><i class="far fa-calendar"></i></span>
                <span class="text-nowrap">Total de peso: </span>
                <span class="h5 font-weight-bolder"></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tareas completadas</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="far fa-address-book"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-muted mr-2"><i class="far fa-calendar"></i></span>
                <span class="text-nowrap">Total de: </span>
                <span class="h4 font-weight-bolder"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <h3 class="mb-0">Tareas</h3>
          <div class="form-group">
            <input class="form-control form-control-alternative mt-3" placeholder="Tarea nueva..."
              type="text"></div>
        </div>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <th>Por Hacer</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
              <td> Reclamarle al banco los dolares que no me dió </td>
              <td> 24/6/2020 a las 16:40:00 hs</td>
              <td class="text-right">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
            <tr>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
              <td> Comer frutilla </td>
              <td> 12/6/2020 a las 1:44:00 hs</td>
              <td><span class="badge badge-dot mr-4"><i class="bg-warning"></i> pendiente </span></td>
            </tr>
            <tr>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
              <td> Terminar la tarea </td>
              <td> 5/12/2020 a las 16:32:00 hs</td>
              <td><span class="badge badge-dot mr-4"><i class="bg-warning"></i> pendiente </span></td>
            </tr>
            <tr>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
              <td> Estudiar programación </td>
              <td> 8/12/2020 a las 12:23:00 hs</td>
              <td><span class="badge badge-dot mr-4"><i class="bg-warning"></i> pendiente </span></td>
            </tr>
          </tbody>
        </table>
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <th>Completados</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-checkbox></mat-checkbox>
              </td>
              <td> Reclamarle al banco los dolares que no me dió </td>
              <td> 24/6/2020 a las 16:40:00 hs</td>
              <td><span class="badge badge-dot mr-4"><i class="bg-warning"></i> pendiente </span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
</div>