.title{
    color:#fff;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: -1.5px;
    text-transform: capitalize !important;
    font-family: Open Sans, sans-serif !important;
    }
    
    .img-logo{
    display: inline-block;
    margin-right: 4px;
    margin-top: -9px;
    }
    
    .title-container{
        margin-left: -13px;
        margin-top: 16px;
    }